################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/AsyncWpfMultiselectTreeView/AsyncWpfTreeViewKit/obj/Debug
/AsyncTreeView/other resources for extended projects
